In [1]:
import pandas as pd
import os
from datetime import date, datetime
import re

In [32]:
# OS dependent path
# load bog, mex, and uio csv
bog_path = os.path.join("dataset", "bog_clean.csv")
mex_path = os.path.join("dataset", "mex_clean.csv")
equ_path = os.path.join("dataset", "uio_clean.csv")
# read dataset
bog_df = pd.read_csv(bog_path)
mex_df = pd.read_csv(mex_path)
equ_df = pd.read_csv(equ_path)
bog_df["country"] = "colombia"
mex_df["country"] = "mexico"
equ_df["country"] = "equador"
dataset_df = pd.concat([bog_df, mex_df, equ_df], ignore_index=True)
dataset_df = dataset_df.drop(["store_and_fwd_flag", "id"], axis=1)
dataset_df = dataset_df.drop_duplicates()
# change date and time format
dataset_df["pickup_datetime"] = pd.to_datetime(dataset_df["pickup_datetime"], format="%Y/%m/%d %H:%M:%S")
dataset_df["dropoff_datetime"] = pd.to_datetime(dataset_df["dropoff_datetime"], format="%Y/%m/%d %H:%M:%S")
# strip time from datetime
dataset_df["pickup_datetime"] = pd.to_datetime(dataset_df["pickup_datetime"]).dt.date
dataset_df["dropoff_datetime"] = pd.to_datetime(dataset_df["dropoff_datetime"]).dt.date
# sort by pickup date time
dataset_df = dataset_df.sort_values(by=["pickup_datetime"])
dataset_df = dataset_df.reset_index(drop=True)

In [106]:
def services_extractor(df) :
    # extract service name from vendor_id and map service based in 2022 services
    # some normal services not available in 2022, it'll be taxi service instead
    # uberangel is exclusive to colombia will be, it'll be uberblack service instead
    # ubersuv will be uberxl
    SERVICE_NAME = re.compile(
        r"taxi|uberxl|uberx|uberblack|ubervan|uberangel|ubersuv"
    )
    df["vendor_id"] = df["vendor_id"].str.lower()
    service = []
    for i in range(len(df)) :
        extract = SERVICE_NAME.search(df.vendor_id[i])
        if extract != None :
            if (extract  == "ubervan") or (extract == "ubersuv") :
                service.append("uberxl")
            elif extract == "uberangel" :
                service.append("uberblack")
            else : 
                service.append(extract.group())
        else :
            service.append("taxi")
    return service

In [107]:
dataset_df["service"] = services_extractor(dataset_df)

In [125]:
dataset_df[dataset_df["country"] == "mexico"].sample(7)

,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,dist_meters,wait_sec,country,service
44333,méxico df taxi libre,2017-07-05,2017-07-05,-99.152050,19.271990,-99.142043,19.273949,3211,11169,34,mexico,taxi
43340,méxico df taxi libre,2017-06-30,2017-06-30,-99.195894,19.461551,-99.191667,19.461115,352,528,228,mexico,taxi
38057,méxico df taxi de sitio,2017-05-27,2017-05-28,-99.129511,19.403455,-99.132485,19.419508,30111,26483,29244,mexico,taxi
24457,méxico df radio taxi,2017-01-24,2017-01-24,-99.158556,19.391170,-99.158474,19.394416,164,440,56,mexico,taxi
35940,méxico df uberx,2017-05-12,2017-05-13,-99.194619,19.490237,-99.041315,19.601997,44291,22990,1143,mexico,uberx
2988,méxico df radio taxi,2016-07-25,2016-07-25,-99.172297,19.418748,-99.246497,19.494255,3076,23135,806,mexico,taxi
12418,méxico df uberxl,2016-10-29,2016-10-29,-99.211436,19.285720,-99.139887,19.341590,2761,13789,276,mexico,uberxl

In [ ]:
dataset_df[dataset_df["country"] == "mexico"].sample(3)

In [68]:
dataset_df[dataset_df["vendor_id"]== "México DF UberBlack"]

Empty DataFrame
Columns: [vendor_id, pickup_datetime, dropoff_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, trip_duration, dist_meters, wait_sec, country, service]
Index: []

In [28]:
(dataset_df[dataset_df["country"] == "mexico"])["vendor_id"].unique()

array(['México DF Taxi de Sitio', 'México DF Radio Taxi',
       'México DF Taxi Libre', 'México DF UberX', 'México DF UberXL',
       'México DF UberBlack', 'México DF UberSUV'], dtype=object)

In [30]:
(dataset_df[dataset_df["country"] == "equador"])["vendor_id"].unique()

array(['Quito', 'Quito Cabify Lite', 'Quito Cabify Executive',
       'Quito UberX'], dtype=object)

In [31]:
(dataset_df[dataset_df["country"] == "colombia"])["vendor_id"].unique()

array(['Bogotá', 'Bogotá UberX', 'Bogotá UberVan', 'Bogota UberBlack',
       'Bogotá UberAngel'], dtype=object)

In [ ]:
country = df["country"].unique()
for cname in country :
        for j in range(len(df[f"{cname}"])) :
            pass

In [ ]:
dataset_df[(dataset_df.country == "equador")]

In [ ]:
test = dataset_df["country"].unique()
print(test[0])

In [ ]:
for i in test : 
    print(i)

In [ ]:
dataset_df["vendor_id"].str.lower()

In [37]:
SERVICE_NAME = re.compile(
    r"taxi|uberx|uberblack|ubervan|uberangel|uberxl|ubersuv"
)
extract = SERVICE_NAME.search("wkwkwkw ")
if extract == None :
    print("taxi")
else :
    print(extract.group())

taxi

In [105]:
heroRegex = re.compile (r'Batman|Tina Fey|Enrico Roselino')
mo1 = heroRegex.search('Enrico Roselin and Tina Fey.')
mo1 = mo1.group()
print(mo1)

Tina Fey